/* form-demo.css */
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .errors > p {
    border: 1px solid red;
    padding: 0.5em;
  }
  /* Style the select arrow for Safari */
  select::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Style the select arrow for other browsers */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .hide {
    display: none; /* Initially hide the credit card input and label */
  }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5em;
}

form input,
form select,
form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
}

form button {
    background-color: green;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

form button:hover {
    background-color: darkgreen;
}